@import "./fonts.css";

:root {
    --light: #FFFFFF;
    --light-green: #D1FF5D;
    --dark-green: #05664F;
    --dark: #0D2228;
    --deep-dark: #07161B;
}
/* BASE CONFIGS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background: none;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif ;
}
/* BASE CONFIGS */

/* UNIQUE */
.container {
    max-width: 1395px;
    margin: 0 auto;
    padding: 0 10px;
}
/* UNIQUE */

/* HEADER */
.header {
    width: 100%;
    height: 104px;
    background: rgba(13, 34, 40);
}
.header__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__logo {
    flex-grow: 1;
}
.header__link {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--light);
    margin-right: 40px;
}
.header__link:last-child {
    margin-right: 20px;
}
.header__link::before {
    content: "";
    position: absolute;
    right: -20px;
    width: 1px;
    height: 27px;
    background-color: var(--light-green);
}
.header__link:last-child::before {
    display: none;
}
.header__button {
    width: 208px;
    height: 50px;
    border: 2.04px solid var(--light-green);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--light);
}
/* HEADER */

/* HERO SECTION */
.hero {
    padding: 102px 0 171px;
    height: calc(100vh - 104px);

    background: rgba(0, 1, 1);
    backdrop-filter: blur(7.5px);
}
.hero__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hero__title {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 170px;
    line-height: 206px;
    background: linear-gradient(180deg, var(--light) 0%, var(--light-green) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 41px;
}
.hero__title::before {
    content: "";
    position: absolute;
    width: 400px;
    border: 1px solid var(--light-green);
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}
.hero__desk {
    max-width: 782px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 85px;
    color: var(--light);
}
.hero__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 44px;
}
.hero__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px 8px;
    width: 222px;
    height: 142px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.38304px);
    border-radius: 6.53059px;
}
.hero__card-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--light);
}
/* HERO SECTION */

/* ABOUT SECTION */
.about {
    padding: 103px 0 130px;
    background: var(--dark);
}
.about__up {
    display: flex;
    justify-content: start;
    column-gap: 79px;
}
.about__left {
    max-width: 740px;
}
.about__title {
    margin-bottom: 63px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: var(--light-green);
}
.about__desk {
    margin-bottom: 40px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--light);
}
.about__desk::before {
    content: "";
    position: absolute;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    bottom: -20px;
    left: 0;
    right: 0;
}
.about__desk:last-child::before {
    display: none;
}
.about__card {
    padding: 14px;
    width: 531px;
    height: 365px;
    background: rgba(255, 255, 255, 0.17);
    border: 1.13179px solid var(--light);
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
}
.about__card:first-child {
    position: absolute;
    margin-left: 95px;
}
.about__card:last-child {
    margin-top: 193px;
}
.about__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__bottom {
    padding: 155px 0 0;
    display: flex;
    justify-content: start;
    column-gap: 60px;
}
.about__title-small {
    position: relative;
    left: 0;
    padding: 29px;
    width: 611px;
    height: 242px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
}
.about__title-small-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: var(--light);
}
.about__bottom-content {
    display: flex;
    justify-content: start;
    column-gap: 35px;
}
.about__bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 14px;
}
.about__bottom-icon {
    position: relative;
    width: 69px;
    height: 69px;
    background: linear-gradient(180deg, #D1FF5D 0%, #49FFF4 100%);
    backdrop-filter: blur(3.0032px);
    border-radius: 68.5185px;
}
.about__bottom-icon::before {
    content: "";
    position: absolute;
    width: 69px;
    height: 69px;
    background: linear-gradient(180deg, rgba(209, 255, 93, 0.25) 0%, rgba(73, 255, 244, 0.11) 100%);
    backdrop-filter: blur(3.0032px);
    border-radius: 68.5185px;
    z-index: -1;
    top: -5px;
    left: -19px;
}
.about__bottom-icon span {
    margin: 13px auto;
    display: block;
    width: 18px;
    height: 43px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35.6296px;
    line-height: 43px;
    color: #05664F;
}
.about__bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 77px;
}
.about__bottom-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: var(--light);
    margin-bottom: 15px;
}
.about__bottom-card-desk {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--light);
}
/* ABOUT SECTION */

/* WHY SECTION */
.why {
    position: relative;
    padding: 107px 0 178px;
    background: var(--deep-dark);
}
.why__title-img {
    position: absolute;
    top: 20px;
    left: 0;
}
.why__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: var(--light-green);
    margin-bottom: 127px;
}
.why__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 69px;
    padding-left: 29px;
    padding-bottom: 26px;
}
.why__card {
    position: relative;
    padding: 26px;
    width: 419px;
    height: 505px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
}
.why__card::before {
    content: "";
    position: absolute;
    width: 427px;
    height: 430px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
    left: -29px;
    bottom: -26px;
    z-index: -1;
}
.why__card-icon {
    margin-bottom: 24px;
}
.why__card-content {
    padding-left: 22px;
}
.why__card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: var(--light);
    margin-bottom: 23px;
}
.why__card-desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--light);
    margin-bottom: 37px;
}
.why__card-btn {
    width: 208px;
    height: 50px;
    border: 2.04px solid var(--light-green);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--light);
}
/* WHY SECTION */

/* COUNTRIES SECTION */
.countries {
    position: relative;
    padding-top: 64px;
    background: linear-gradient(180deg, #FFFFFF 0%, #DFFFF7 100%);
}
.countries__title-img {
    position: absolute;
    top: 0;
    left: 0;
}
.countries__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 118px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dark-green);
}
.countries__content {
    padding: 33px 0 0 72px;
    position: absolute;
    top: 459px;
    left: 45px;
    width: 711px;
    height: 207px;
    background: var(--light);
    box-shadow: 0px 20px 30px -16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 53px;
}
.countries__item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-green);
}
/* COUNTRIES SECTION */

/* PARTNERS SECTION */
.partners {
    position: relative;
    padding: 113px 0 148px;
    background: radial-gradient(100.28% 100.28% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.partners__content {
    padding: 46px 0 106px;
    align-items: center;
    margin: auto;
    width: 1225px;
    height: 460px;
    border-radius: 10px;
    background: linear-gradient(98.14deg, rgba(255, 255, 255, 0.31) 5.19%, rgba(252, 252, 252, 0.21) 46.36%, rgba(248, 248, 248, 0.15) 93.43%);
}
.partners__title {
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    text-transform: uppercase;
    color: var(--light);
    margin-bottom: 86px;
}
.partners__title::before {
    content: "";
    position: absolute;
    width: 859px;
    height: 0;
    border: 1px solid var(--light);
    margin: auto;
    bottom: -4px;
}
.partners__companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
}
/* PARTNERS SECTION */